# Ignore specific files
vatsim_bot.db
test.py
#time_finder.py

# Ignore all `.log` files
*.log*
*.db
!airports.db

# Ignore a specific folder
__pycache__/
commands/__pycache__/
depreciated commands/
extras/

# Ignore all `.env` files
.env
